.chat-wrapper {
    margin: auto;
    width: 600px;
    height: 800px;
    border: 1px solid blue;
    border-radius: 15px;
    margin-top: 30px;
    overflow: hidden;
}

.chat {
    background-color: rgb(215, 204, 243);
    height: 83%;
    padding: 10px;
    overflow-y: scroll;
}

.heading {
    width: 100%;
    height: 8%;
    border-bottom: 1px solid red ;
}

.message {
    width: fit-content;  
}

.message-text {
    width: fit-content;
    background-color: yellowgreen;
    color:white;
    border-radius: 10px;
    padding: 5px 10px;
}

.message-right, .message-right > * {
    align-self: flex-end
}

.message-author, .date {
    color: teal;
    font-size: 12px;
}

.controls {
    height: 9%;
}

